---
import Layout from '../layouts/layout.astro';
import BlogPost from '../components/BlogPost.astro';
const allPost = await Astro.glob('../pages/post/*.md');
const pageTitle = "My Astro Learning Blog";
---

<Layout pageTitle={pageTitle}>
    <p>This is where I will post about my journey learning Astro.</p>
    <ul>
        <!-- <li><a href="/post/post-1">Post 1</a></li>
        <li><a href="/post/post-2">Post 2</a></li>
        <li><a href="/post/post-3">Post 3</a></li> -->
        <!-- {allPost.map((post) => 
        <li><a href="{post.url}">{post.frontmatter.title}</a></li>
        <span><i>{post.frontmatter.author}</i></span> 
        )} -->

        {allPost.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} author={post.frontmatter.author}/> )}
    </ul>
</Layout>