---
import Layout from "./layout.astro";
const { frontmatter } = Astro.props;
---
<Layout pageTitle={frontmatter.title}>    
    <p>Written by {frontmatter.author}</p>
    <p>Publishe on: {frontmatter.pubDate.slice(0,10)}</p>
    <p>Descripcion: {frontmatter.description}</p>
    <img src={frontmatter.image.url} width="100" alt={frontmatter.image.alt}/>
    <slot />
</Layout>